{% if pagination.href.previous or pagination.href.next %}

<nav class="pagination" aria-label="Pagination">

  <p>More articles:</p>

  <ul>

    {% if pagination.href.previous %}
      <li>
        <a href="{{ pagination.href.previous }}" class="pagination-advance pagination-prev">Prev</a>
      </li>
    {% else %}
      <li class="pagination-inactive pagination-prev">Prev</li>
    {% endif %} 

    {% assign current_page = page.url | replace: "blog", "" | replace: "/", "" | plus: 1 %}
    
    {% assign total_pages  = pagination.href.last | replace: "blog", "" | replace: "/", "" | plus: 1 %}

    {% assign first = current_page | minus: 2 %}
    {% if first < 1 %}
      {% assign first = 1 %}
    {% endif %}

    {% assign last = current_page | plus: 2 %}
    {% if last > total_pages %}
      {% assign last = total_pages %}
    {% endif %}


    {% if first >= 3 %}
      <li>
        <a href="{{ pagination.href.first }}">1</a> ..
      </li>
    {% endif %}
    
    
    {% for page in (first..last) %}
      {% if page == current_page %}
        <li class="pagination-current">{{ page }}</li>
      {% elsif page == 1 %}
        <li>
          <a href="{{ pagination.href.first }}">{{ page }}</a>
        </li>
      {% else %}
        <li>
          <a href="{{ pagination.href.first }}{{ page | minus: 1 }}/">{{ page }}</a>
        </li>
      {% endif %}
    {% endfor %}


    {% assign max_for_last_page = total_pages | minus: 2 %}
    {% if last <= max_for_last_page %}
      <li>
        .. <a href="{{ pagination.href.first }}{{ total_pages | minus: 1 }}/">{{ total_pages }}</a>
      </li>
    {% endif %}


    {% if pagination.href.next %}
      <li>
        <a href="{{ pagination.href.next }}" class="pagination-advance pagination-next">Next</a>
      </li>
      {% else %}
        <li class="pagination-inactive pagination-next">Next</li>
      {% endif %}

  </ul>

</nav>

{% endif %}