{% include "partials/site-header" %}

<main class="blog" id="main">

  <h1>{{ title }}</h1>

  {{ content }}

  <div class="blog-list">

    <section aria-label="All articles">
      {%- for post in posts -%}
        <article class="post-excerpt" aria-label="{{ post.data.title | strip_html }}">
          
          <p class="date">
            {{- post.data.date | date_to_long_string }}
          </p>
  
          <h2>
            {% assign link = post.url %}
            {% if post.data.redirect_to %}
              {% assign link = post.data.redirect_to %}
            {% endif %}
            <a href="{{ link }}">{{ post.data.title }}</a>
          </h2>
  
          <p>
            {{ post.data.excerpt }}
          </p>
  
          {% if not page.url contains 'pregnancy' %}
            <p class="categories">
              {% for tag in post.data.tags -%}
                {% if tag != 'blog' %}
                  <a href="/blog/{{tag | replace: ' ', '-' }}/" class="category {{tag | replace: ' ', '-' }}">{{ tag }}</a>
                {%- endif -%}
              {%- endfor -%}
            </p>
          {% endif %}

        </article>
      {%- endfor -%}
    </section>
  
    {% include "partials/section-category-list" %}

    {% include "partials/section-pagination" %}

  </div>

</main>

{% include "partials/site-footer" %}
