{% include "partials/site-header" %}

<main id="main">

  <div class="post-meta">
    <p class="categories">
      {% for tag in tags %}
        {% if tag != 'blog' %}
          <a href="/blog/{{tag | replace: ' ', '-' }}/" class="category {{tag | replace: ' ', '-' }}">{{ tag }}</a>
        {% endif %}
      {% endfor %}
    </p>

    <h1 id="post-title">{{ title }}</h1>

    <p class="date">
      {{ page.date | date_to_long_string }}
    </p>
  </div>

  <article class="post-article" aria-labelledby="post-title">
    {{ content }}
  </article>

  <div class="post-share">
    Share this article: 

    <a class="ri-bluesky-fill" target="_blank" href="https://bsky.app/intent/compose?text=Check out “{{ title }}” by @jonihalabi.bsky.social https://jhalabi.com{{ page.url }}">
      <span class="sr-only">Twitter</span>
    </a>

    <a class="ri-linkedin-box-fill" target="_blank" href="https://www.linkedin.com/shareArticle?url=https://jhalabi.com{{ page.url }}">
      <span class="sr-only">LinkedIn</span>
    </a>
  </div>

</main>

{% include "partials/site-footer" %}
